<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <div class="row">
       <div class="col-sm-10"></div>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="search" [(ngModel)]="term">
        </div>
    </div>
    <div class="container" style="margin-top: 70px;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Empid</th>
              <th>Designation</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of empArray | filter:term | paginate: { itemsPerPage: 5, currentPage: p }" >
      
              <td>{{ a.name }}</td>
              <td> {{ a.empid }}</td>
              <td> {{ a.designation }}</td>
              <td>{{a.email}}</td>
              <td>{{a.mobile}}</td>
              
              <td>
                <button class="btn btn-primary" (click)="openModal(template)">View</button>&nbsp;
                <button type="button" class="btn btn-warning" (click)="editEmp(a.empid)">Edit</button>&nbsp;
                <button type="button" class="btn btn-secondary btn active">Leave Report</button>&nbsp;
                <button type="button" class="btn btn-outline-danger" (click)="deleteEmp(a.empid)">Delete</button>
            </td>
              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Account Details</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table>
                    <tr><td><b>Empid:&nbsp;</b>{{a.empid}}</td></tr>
                    <tr><td><b>Name:&nbsp;</b>{{a.name}}</td></tr>
                    <tr><td><b>Designation:&nbsp;</b>{{a.designation}}</td></tr>
                    <tr><td><b>Email:&nbsp;</b>{{a.email}}</td></tr>
                    <tr><td><b>Contact Number:&nbsp;</b>{{a.mobile}}</td></tr>
                    <tr><td><b>Address:</b><br>{{a.address}}</td></tr>
                    <tr><td><b>Date Of Birth:&nbsp;</b>{{a.dob}}</td></tr>
                    <tr><td><b>Salary:&nbsp;</b>{{a.salary}}</td></tr>
                </table>
                </div>
              </ng-template>
              <!-- <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Account Details</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr><td>NAME:{{a.name}}</td></tr>
                        <tr><td>ACCOUNT NO:{{a.acc_no}}</td></tr>
                        <tr><td>BALANCE:{{a.balance}}</td></tr>
                        <tr><td>TYPE:{{a.acc_type}}</td></tr>
                    </table>
                </div>
              </ng-template> -->
            </tr>
          </tbody>
        </table>
        <!-- <div class="card text-center" *ngIf="selectedContact">
            <div class="card-header">
              # {{selectedContact.id}}
            </div>
            <div class="card-block">
              <h4 class="card-title">{{selectedContact.name}}</h4>
              <p class="card-text">
                {{selectedContact.description}}
              </p>    
            </div>
      
          </div> -->
      </div>
      <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
</div>