#container {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 300px;
    /* background - image: url("");  */
    /* border: 1px solid black; */
}

.box {
    width: 300px;
    margin: 5px;
    text-align: center;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.container:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.container {
    background: inherit;
}
 
.container:before {
    background: inherit;
}