<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="/home">UST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admindash" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addemployee" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customtimesheetreport" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Custom Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/monthwisereport" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Monthly Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/yearwisereport" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Yearly Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createleave" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Create Leave</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/applyleave" *ngIf="_router.url!='/adminlogin'  && _router.url!='/home' && _router.url!='/admindash' && _router.url!='/addemployee' && _router.url!='/editemp' && _router.url!='/customtimesheetreport' && _router.url!='/createleave' && _router.url!='/emplogin' && _router.url!='/monthwisereport' && _router.url!='/yearwisereport' ">Apply Leave</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/leavereport" *ngIf="_router.url!='/adminlogin' && _router.url!='/emplogin' && _router.url!='/empdash' && _router.url!='/empupdate' && _router.url!='/changepass' && _router.url!='/timesheetdash' && _router.url!='/addtimesheet' && _router.url!='/updatesheet' && _router.url!='/applyleave' && _router.url!='/home' ">Leave Report</a>
        </li>


        
        
        <li class="nav-item">
          <a class="nav-link" (click)="signout()" *ngIf="_router.url!='/home'">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav> -->